<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New tool</title>
</head>
<body>

<form th:method="POST" th:action="@{/tools}" th:object="${tool}">

  <label for="owner">Owner: </label>
  <input type="text" th:field="*{owner.id}" id="owner"/>

  <br/>
  <br/>

  <label for="type">Type: </label>
  <input type="text" th:field="*{type}" id="type"/>

  <br/>
  <br/>

  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>

  <br/>
  <br/>

  <label for="size">Size: </label>
  <input type="text" th:field="*{size}" id="size"/>

  <br/>
  <br/>

  <label for="quantity">Quantity: </label>
  <input type="text" th:field="*{quantity}" id="quantity"/>

  <br/>
  <hr/>

  <input type="submit" value="Go!"/>
</form>

</body>
</html>

<!--
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
-->
